<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-light fs-5"><strong>REGISTER</strong></h1>
          <form [formGroup]="registerForm">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" formControlName="usernameOrEmail" autocomplete="username">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" formControlName="password" autocomplete="current-password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid">
              <button
                (click)="onSubmit()"
                class="btn btn-primary btn-login text-uppercase fw-bold"
                type="submit"
                [disabled]="!registerForm.valid"
              >Register</button>
            </div>
          </form>
          <a routerLink="/">Sign in to your account</a>
        </div>
      </div>
    </div>
  </div>
</div>
